!!! 5
%html(lang="ja" class="#{document_class}")
  %head
    %title= title
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="description" content="#{description}")
    = content_for "ogp_headers", title: title, description: description, thumbnail: thumbnail, url: url
    %meta(http-equiv="X-UA-Compatible" content="E=edge")
    %link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" crossorigin="anonymous")
    %script(defer="" src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
    %script(type="text/javascript" src="#{Blick.Asset.url(~S(dist/index.js))}")
  %body
    = yield
